h1 Hello #{email}!

p Somebody (dunno if this was you) requested login to #{appName}.

p
	b IF THIS WAS NOT YOU, IGNORE THAT MESSAGE!

p
	| Otherwise, please click
	|
	a(href=url) this link
	|
	| to confirm login operation.

p Login request details:

ul
	li IP: #{ip}
	li Browser: #{browser}

p Link as well as credentials are valid #{time} minutes.
p You can also copy value from below and enter it within #{appName}.

pre #{composite}
