h1 Hello #{email}!

p Welcome to #{appName}. The best app ever.
p After clicking link or entering credentials from below, you'll confirm your registration
p Link as well as credentials are valid #{time} minutes.

p
	| Please click
	|
	a(href=url) this link
	|
	| to confirm registration operation.

p You can also copy value from below and enter it within #{appName}.

pre #{composite}


